<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <Connector URIEncoding="UTF-8" connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443"/>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>sample.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>sample.controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>sample.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheckController</servlet-name>
        <servlet-class>sample.controller.EmailCheckController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneCheckController</servlet-name>
        <servlet-class>sample.controller.PhoneCheckController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheckController</servlet-name>
        <servlet-class>sample.controller.UsernameCheckController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>sample.controller.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBirdController</servlet-name>
        <servlet-class>sample.controller.AddBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>sample.controller.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorSettingProfileController</servlet-name>
        <servlet-class>sample.controller.UpdateDoctorSettingProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>sample.controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusController</servlet-name>
        <servlet-class>sample.controller.SetStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusBlogController</servlet-name>
        <servlet-class>sample.controller.SetStatusBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBirdController</servlet-name>
        <servlet-class>sample.controller.UpdateBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdnameCheckController</servlet-name>
        <servlet-class>sample.controller.BirdnameCheckController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageBirdController</servlet-name>
        <servlet-class>sample.controller.ImageBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdnameCheckUpdateController</servlet-name>
        <servlet-class>sample.controller.BirdnameCheckUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpdateBirdController</servlet-name>
        <servlet-class>sample.controller.ImageUpdateBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBirdController</servlet-name>
        <servlet-class>sample.controller.DeleteBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingSelectDayController</servlet-name>
        <servlet-class>sample.controller.BookingSelectDayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPasswordController</servlet-name>
        <servlet-class>sample.controller.CheckPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingController</servlet-name>
        <servlet-class>sample.controller.PendingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>sample.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelController</servlet-name>
        <servlet-class>sample.controller.CancelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInController</servlet-name>
        <servlet-class>sample.controller.CheckInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get5ServicesUsedMost</servlet-name>
        <servlet-class>sample.controller.get5ServicesUsedMost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTotalFeeByMonth</servlet-name>
        <servlet-class>sample.controller.getTotalFeeByMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalRecordController</servlet-name>
        <servlet-class>sample.controller.MedicalRecordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileUserController</servlet-name>
        <servlet-class>sample.controller.UpdateProfileUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>sample.controller.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>sample.controller.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertFeedbackController</servlet-name>
        <servlet-class>sample.controller.InsertFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackController</servlet-name>
        <servlet-class>sample.controller.UpdateFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheckControllerReverse</servlet-name>
        <servlet-class>sample.controller.EmailCheckControllerReverse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>sample.controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewBlogController</servlet-name>
        <servlet-class>sample.controller.AddNewBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateAgainController</servlet-name>
        <servlet-class>sample.controller.DateAgainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingAgainConfirmController</servlet-name>
        <servlet-class>sample.controller.BookingAgainConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalRecordDoneController</servlet-name>
        <servlet-class>sample.controller.MedicalRecordDoneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalRecordDoneNoServiceController</servlet-name>
        <servlet-class>sample.controller.MedicalRecordDoneNoServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getWeeklySalePerWeek</servlet-name>
        <servlet-class>sample.controller.getWeeklySalePerWeek</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheckController</servlet-name>
        <url-pattern>/EmailCheckController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneCheckController</servlet-name>
        <url-pattern>/PhoneCheckController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheckController</servlet-name>
        <url-pattern>/UsernameCheckController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBirdController</servlet-name>
        <url-pattern>/AddBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/AddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorSettingProfileController</servlet-name>
        <url-pattern>/UpdateDoctorSettingProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusController</servlet-name>
        <url-pattern>/SetStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusBlogController</servlet-name>
        <url-pattern>/SetStatusBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBirdController</servlet-name>
        <url-pattern>/UpdateBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BirdnameCheckController</servlet-name>
        <url-pattern>/BirdnameCheckController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageBirdController</servlet-name>
        <url-pattern>/ImageBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BirdnameCheckUpdateController</servlet-name>
        <url-pattern>/BirdnameCheckUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpdateBirdController</servlet-name>
        <url-pattern>/ImageUpdateBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBirdController</servlet-name>
        <url-pattern>/DeleteBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingSelectDayController</servlet-name>
        <url-pattern>/BookingSelectDayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPasswordController</servlet-name>
        <url-pattern>/CheckPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingController</servlet-name>
        <url-pattern>/PendingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelController</servlet-name>
        <url-pattern>/CancelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInController</servlet-name>
        <url-pattern>/CheckInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get5ServicesUsedMost</servlet-name>
        <url-pattern>/get5ServicesUsedMost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTotalFeeByMonth</servlet-name>
        <url-pattern>/getTotalFeeByMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalRecordController</servlet-name>
        <url-pattern>/MedicalRecordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileUserController</servlet-name>
        <url-pattern>/UpdateProfileUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertFeedbackController</servlet-name>
        <url-pattern>/InsertFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackController</servlet-name>
        <url-pattern>/UpdateFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheckControllerReverse</servlet-name>
        <url-pattern>/EmailCheckControllerReverse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewBlogController</servlet-name>
        <url-pattern>/AddNewBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateAgainController</servlet-name>
        <url-pattern>/DateAgainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingAgainConfirmController</servlet-name>
        <url-pattern>/BookingAgainConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalRecordDoneController</servlet-name>
        <url-pattern>/MedicalRecordDoneController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalRecordDoneNoServiceController</servlet-name>
        <url-pattern>/MedicalRecordDoneNoServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getWeeklySalePerWeek</servlet-name>
        <url-pattern>/getWeeklySalePerWeek</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index-2.jsp</welcome-file>
    </welcome-file-list>
</web-app>
